<ion-nav-bar class="bar-stable nav-title-slide-ios7">
    <ion-nav-back-button class="button-clear">
        <i class="icon ion-arrow-left-c"></i>{{getPreviousTitle() || 'Back'}}
    </ion-nav-back-button>
</ion-nav-bar>
<ion-view title={{pageTitle}}>
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-ios7-arrow-back" ng-click="goBack()">
            students
        </button>
    </ion-nav-buttons>
    <ion-content>
        <canvas id="myChart" width="310" height="310">
        </canvas>
        <div class="list">
            <a ng-repeat="record in behaviorRecords "
               class="item item-thumbnail-left">
                <img ng-src={{}}>
                <h2>{{ record.behaviorType.title}}</h2>
                <h3>{{ record.behavior.behaviorDate.toDateString()}}</h3>
                <h4>{{ record.behaviorType.isPositive}}</h4>
            </a>
        </div>
    </ion-content>
</ion-view>