<ion-view title="forgot Password">
    <ion-content class="has-header">
        <div class="list">
            <div class="card">
                <div class="item item-text-wrap" style="text-align: center">
                    Please add your account mail
                </div>
            </div>
            <label class="item item-input">
                <i class="icon ion-email placeholder-icon"></i>
                <input type="text" placeholder="mail" ng-model="mail">
            </label>
        </div>
        <div class="padding">
            <button class="button button-block button-positive" ng-click="send(mail)">
                send mail
            </button>
        </div>
    </ion-content>
</ion-view>