<ion-view title={{pageTitle}}>
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-ios7-arrow-back" ng-click="goBack()">
        </button>
    </ion-nav-buttons>
    <ion-content>
        <canvas id="canvas" height="400" width="300"></canvas>
        <ion-list>
            <div ng-repeat="child in children" >
                <ion-item class="item-stable"
                          ng-click="toggleGroup(child,$index)"
                          ng-class="{active: isGroupShown(child)}">
                    <i class="icon" ng-class="isGroupShown(child) ? 'ion-minus' : 'ion-plus'"></i>
                    <b>{{child}}</b>
                </ion-item>
                <ion-item class="item-accordion"
                          ng-repeat="item in child.classrooms"
                          ng-show="isGroupShown(child)"
                          ng-click="goToChildren($index)">
                    {{item.attributes.title}}
                </ion-item>
            </div>
        </ion-list>
        <ion-scroll direction="x" style="width: 100%" scrollbar-x="false" delegate-handle="head" zooming="true" on-scroll="scrollMirror('head', 'list')">
            <div class="item item-header item-positive row row-item min-705">
                <div class="col col-left col-20 min-180" ng-click="sort('Categories')">Categories</div>
                <div class="col col-right min-75" ng-click="sort('Weight')">Weight</div>
                <div class="col col-right min-75" ng-click="sort('Grades')">Grades</div>
            </div>
        </ion-scroll>
        <ion-scroll direction="xy" style="height: 100%" zooming="true" on-scroll="scrollMirror('list', 'head')" delegate-handle="list">
            <div class="item row row-item min-705" ng-repeat="row in data | orderBy:predicate:desc">
                <div class="col col-left col-20 min-180">{{ row.category }}</div>
                <div class="col col-center col-sep min-75">{{ row.weight }}</div>
                <div class="col col-center col-sep min-75">{{ row.grade }}</div>
            </div>
            <div class="item item-footer item-positive row row-item min-705">
                <div class="col col-left col-20 min-180"></div>
                <div class="col col-left min-75">TOTAL</div>
                <div class="col col-center min-75"></div>
                <div class="col col-center min-50">92%</div>
            </div>
        </ion-scroll>
    </ion-content>
</ion-view>
<style>
    canvas {
        padding-left: 0;
        padding-right: 0;
        margin-left: auto;
        margin-right: auto;
        display: block
    }
</style>