<ion-nav-bar class="bar-stable nav-title-slide-ios7">
    <ion-nav-back-button class="button-clear"><i class="icon ion-chevron-left"></i> Back</ion-nav-back-button>
</ion-nav-bar>

<ion-view hide-back-button="true" title="Log In">
    <ion-content>
        <div class="list">
           <label class="item item-input">
                <i class="icon ion-person placeholder-icon"></i>
                <input type="text" placeholder="username" ng-model="user.username">
            </label>
            <label class="item item-input">
                <i class="icon ion-key placeholder-icon"></i>
                <input type="text" placeholder="password" ng-model="user.password">
            </label>
        </div>
        <div class="padding">
            <button class="button button-block button-positive" ng-click="logIn(user)">
                Sign-In
            </button>

            <button class="button button-block button-positive" ng-click="signup()">
                Sign-Up
            </button>
            <p class="text-center">
                <a href="#/forgot-password">Forgot password</a>
            </p>
        </div>
    </ion-content>
</ion-view>