/* Empty. Add your own CSS if you like */
.list .item.item-accordion {
    padding-top: 0;
    padding-bottom: 0;
    transform: none;
}

.list .item.item-accordion-general{
    line-height: 38px;
    padding-top: 0;
    padding-bottom: 0;
    height: inherit;
    transform: none;
}
.list .item.item-accordion.ng-hide {
    line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
    display: block !important;
}

/* this is just an example - don't use !important */

.item-header {
    font-size: 12px !important;
    font-weight: bold;
}

.item-footer {
    font-size: 12px !important;
    font-weight: bold;

    /* the workaround below "fixes" the scrolling */
    margin-bottom: 28px !important;
}

.col-right {
    text-align: right;
    padding: 3px 5px 3px 5px !important;
}

.col-sep {
    border-left: 1px solid lightgray;
}

.col-left {
    padding: 3px 5px 3px 5px !important;
}
.col-center{
    text-align: center;
    padding: 3px 5px 3px 5px !important;
}

.min-50 { min-width: 20px; }
.min-75 { min-width: 30px; }
.min-180 { min-width: 100px; }
.min-320 { min-width: 320px; }

.row-item {
    padding: 0px !important;
    margin-left: 0 !important;
    font-size: 16px !important;
}
.dataGrid {
    widthL:auto;
}